@model mobile_recharger.Models.Recharge

@{
    ViewData["Title"] = "Create";
}

<style>
    .form-control {
        -webkit-box-shadow: none !important;
        outline: -webkit-focus-ring-color auto 0px !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<h1>Recharge</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Rs. @ViewBag.RechargePlan.Price plan</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="mobileNumber" class="control-label mb-2">MobileNumber</label>
                <input asp-for="mobileNumber" class="form-control border-0 border-bottom border-primary" />
                <span asp-validation-for="mobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Recharge" class="btn btn-primary mt-4" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
