@model IEnumerable<mobile_recharger.Models.Recharge>

@{
    ViewData["Title"] = "Index";
}

<h1>Transactions</h1>
<br />

@Html.Partial("../Shared/_TransactionContainer", @Model)
                   
