@using mobile_recharger.Controllers
@model HomeViewModel
@using System.Globalization

@{
    ViewData["Title"] = "Home Page";
    TextInfo textInfo = new CultureInfo("en-US", false).TextInfo;
}

<div class="">
    <h1 class="display-5 text-center">Recharge Today!</h1>

    @if (User.Identity.IsAuthenticated)
    {
        
        <div class="my-4">
            <h1><span class="badge bg-light text-dark">My Active Plans</span></h1>


            @Html.Partial("../Shared/_TransactionContainer", Model.Recharges)
        </div>
    }

    

    @foreach(var cat in Model.Categories)
    {
        <div class="my-4">
        <h1><span class="badge bg-light text-dark">@textInfo.ToTitleCase(@cat.Name)</span></h1>

            
        @Html.Partial("../Shared/_PlansContainer", cat.RechargePlans)
        </div>
    }
</div>
