@model mobile_recharger.Models.Category

@{
    ViewData["Title"] = "Create";
}


<style>
    .form-control {
        -webkit-box-shadow: none !important;
        outline: -webkit-focus-ring-color auto 0px !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<h4>Create a new Category</h4>
<hr />
<div class="row flex-column align-items-center">
    <div class="col-md-4 bg-secondary rounded">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Name" class="control-label text-white">Name</label>
                <input asp-for="Name" class="form-control border-0 border-bottom mt-1" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check mt-2">
                <label class="form-check-label text-white">
                    <input class="form-check-input border-0 border-bottom mt-1" asp-for="data" /> @Html.DisplayNameFor(model => model.data)
                </label>
            </div>
            <div class="form-group form-check mt-2">
                <label class="form-check-label text-white">
                    <input class="form-check-input border-0 border-bottom mt-1" asp-for="call" /> @Html.DisplayNameFor(model => model.call)
                </label>
            </div>
            <div class="form-group form-check mt-2">
                <label class="form-check-label text-white">
                    <input class="form-check-input border-0 border-bottom mt-1" asp-for="sms" /> @Html.DisplayNameFor(model => model.sms)
                </label>
            </div>
            <div class="form-group mt-4 mb-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

    <a asp-action="Index" class="mt-2  btn-primary rounded text-white text-decoration-none mt-2 p-2 ">Back to List</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
