@using System.Globalization;
@model IEnumerable<mobile_recharger.Models.Category>

@{
    ViewData["Title"] = "Index";
    TextInfo textInfo = new CultureInfo("en-US", false).TextInfo;

}

<div class="d-flex justify-content-between align-items-center my-4">


<h1>All Categories</h1>
<br />
@if (this.User.IsInRole("Admin")) {

    <a asp-action="Create" class="btn btn-primary">Create New</a>
}
</div>

<div class="row">

@foreach (var item in Model)
{
    <div class="card col-3 m-3 bg-light p-0">
        <div class="card-body text-left">
            <h4 class="card-title">@textInfo.ToTitleCase(@item.Name)</h4>

            <div class="d-flex mb-3">
                @foreach (var benifit in @item.GetBenefits())
                {
                    <span class="badge rounded-0 mr-2 me-2 text-dark bg-warning">@benifit</span>
                }
            </div>
        </div>


            <a class="btn btn-primary" asp-controller="Categories"
           asp-action="Details" asp-route-id=@item.CategoryId>
                Explore
            </a>
        </div>
}
</div>



                