@model IEnumerable<mobile_recharger.Models.RechargePlan>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center my-4">
<h1>All Plans</h1>

@if (this.User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-primary">Add Plan</a>

}
</div>
    
@Html.Partial("../Shared/_PlansContainer", @Model)


